---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Exogenesis: Ensemble Part 3 (Redemption)</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>

<style>
	body {
		margin: 0;
		padding: 0;
		width: 80%;
	}
	h1 {

	}
</style>